Repository rdawebb/Photidy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-type-check, cargo-check, python-syntax-check

ty-type-check:
  name: Type check with ty
  entry: ty check src tests
  language: system

cargo-check:
  name: Check Rust code compiles
  entry: python scripts/cargo_check.py
  language: system
  pass_filenames: false

python-syntax-check:
  name: Check Python syntax errors
  entry: python -m py_compile
  language: system

chore: enhance developer tooling and code quality
  .gitignore
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  runtime/db_manager.py
  rust/_photidy/src/compat.rs
  rust/_photidy/src/db.rs
  rust/_photidy/src/errors.rs
  rust/_photidy/src/exif.rs
  rust/_photidy/src/gps.rs
  rust/_photidy/src/haversine.rs
  rust/_photidy/src/scoring.rs
  scripts/build_places_db.py
  scripts/cargo_check.py
  src/cli/commands/__init__.py
  src/cli/commands/organise.py
  src/cli/commands/scan.py
  src/cli/commands/undo.py
  src/cli/utils.py
  tests/test_logger.py
  uv.lock
Due: ty-type-check, cargo-check, python-syntax-check

refactor: restructure GUI with multi-view architecture and standardise naming
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  src/cli/commands/organise.py
  src/cli/commands/scan.py
  src/cli/utils.py
  src/core/organiser.py
  src/ui/constants.py
  src/ui/containers/main_container.py
  src/ui/dialogs/__init__.py
  src/ui/dialogs/about.py
  src/ui/dialogs/confirm.py
  src/ui/dialogs/settings.py
  src/ui/main.py
  src/ui/main_window.py
  src/ui/panels/scan_panel.py
  src/ui/threads.py
  src/ui/views/__init__.py
  src/ui/views/progress.py
  src/ui/views/results.py
  src/ui/views/setup.py
  src/ui/views/summary.py
  src/ui/widgets/__init__.py
  src/ui/widgets/custom_button.py
  src/ui/widgets/folder_selector.py
  tests/test_organiser.py
Due: ty-type-check, python-syntax-check

refactor: restructure GUI with multi-view architectures
  .pre-commit-config.yaml
  CHANGELOG.md
  Justfile
  pyproject.toml
  rust/_photidy/Cargo.lock
  rust/_photidy/Cargo.toml
  src/cli/cli.py
  src/core/organiser.py
  src/ui/assets/folder-open.svg
  src/ui/assets/folder-put.svg
  src/ui/assets/info.svg
  src/ui/assets/inline-left.svg
  src/ui/assets/inline-right.svg
  src/ui/assets/moon.svg
  src/ui/assets/to do.svg
  src/ui/assets/warning-alt.svg
  src/ui/assets/warning.svg
  src/ui/dialogs/about.py
  src/ui/main.py
  src/ui/main_window.py
  src/ui/threads.py
  src/ui/utils/__init__.py
  src/ui/utils/constants.py
  src/ui/utils/svg_utils.py
  src/ui/views/results.py
  uv.lock
Due: ty-type-check, python-syntax-check

refactor: simplify CLI command aliases and replace Makefile with Justfile
  .github/workflows/ci.yaml
  CHANGELOG.md
  Makefile
  pyproject.toml
  src/cli/cli.py
  uv.lock
Due: ty-type-check, python-syntax-check

chore(deps): update dev dependencies to latest versions
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump development dependencies
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump development dependency
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump development dependencies
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump development dependency
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

style: add explicit keyword arguments and inline type annotations
  CHANGELOG.md
  pyproject.toml
  runtime/paths.py
  scripts/build_places_db.py
  scripts/build_rust.py
  scripts/cargo_check.py
  scripts/clean.py
  scripts/constants.py
  scripts/test_rust.py
  src/cli/cli.py
  src/cli/utils.py
  src/core/metadata.py
  src/core/organiser.py
  src/ui/constants.py
  src/ui/dialogs/settings.py
  src/ui/main.py
  src/ui/main_window.py
  src/ui/threads.py
  src/ui/utils/constants.py
  src/ui/utils/svg_utils.py
  src/ui/views/progress.py
  src/ui/views/results.py
  src/ui/views/setup.py
  src/ui/views/summary.py
  src/ui/widgets/folder_selector.py
  src/utils/logger.py
  src/utils/paths.py
  tests/conftest.py
  tests/test_errors.py
  tests/test_integration.py
  tests/test_logger.py
  tests/test_organiser.py
  tests/test_runtime.py
  uv.lock
Due: ty-type-check, python-syntax-check

chore(deps): bump development & production dependencies
  CHANGELOG.md
  pyproject.toml
Due: none

fix: remove invalid path error handling in organise command and bump dev dependencies
  .gitignore
  pyproject.toml
  src/cli/commands/organise.py
  src/cli/commands/scan.py
  src/core/organiser.py
  uv.lock
Due: ty-type-check, python-syntax-check

feat(build): port database build pipeline from Python to Rust
  .gitignore
  pyproject.toml
  rust/_photidy/Cargo.lock
  rust/_photidy/Cargo.toml
  rust/_photidy/src/build/export.rs
  rust/_photidy/src/build/mod.rs
  rust/_photidy/src/build/pageviews.rs
  rust/_photidy/src/build/scoring.rs
  rust/_photidy/src/build/wikidata.rs
  rust/_photidy/src/compat.rs
  rust/_photidy/src/geo_scoring.rs
  rust/_photidy/src/geocode.rs
  rust/_photidy/src/gps.rs
  rust/_photidy/src/lib.rs
  rust/_photidy/src/models.rs
  scripts/build_places_db.py
  scripts/build_rust.py
  scripts/constants.py
  src/core/organiser.py
  src/ui/threads.py
  uv.lock
Due: ty-type-check, cargo-check, python-syntax-check

test: add unit tests to Rust build modules and add ahash to build-db feature
  CHANGELOG.md
  rust/_photidy/Cargo.lock
  rust/_photidy/Cargo.toml
  rust/_photidy/src/build/export.rs
  rust/_photidy/src/build/pageviews.rs
  rust/_photidy/src/build/scoring.rs
  rust/_photidy/src/build/wikidata.rs
Due: cargo-check

refactor: migrate Wikidata parsing to typed Serde structs & optimise pageview parsing
  .github/workflows/ci.yaml
  CHANGELOG.md
  rust/_photidy/Cargo.lock
  rust/_photidy/Cargo.toml
  rust/_photidy/src/build/pageviews.rs
  rust/_photidy/src/build/wikidata.rs
  src/cli/utils.py
  src/core/organiser.py
  src/utils/logger.py
  src/utils/paths.py
Due: ty-type-check, cargo-check, python-syntax-check

feat(build): rewrite pageviews to async concurrent streaming and switch Wikidata parser to NT dump format
  .github/workflows/ci.yaml
  CHANGELOG.md
  rust/_photidy/Cargo.lock
  rust/_photidy/Cargo.toml
  rust/_photidy/src/build/mod.rs
  rust/_photidy/src/build/pageviews.rs
  rust/_photidy/src/build/wikidata.rs
  rust/_photidy/src/lib.rs
  scripts/test_rust.py
Due: ty-type-check, cargo-check, python-syntax-check

Path conditions:
  ty-type-check: any of: \.py$
  cargo-check: any of: \.rs$
  python-syntax-check: any of: \.py$
